
body {
  background: url("/background-images/jason-leung-Xaanw0s0pMk-unsplash.jpg") no-repeat center center fixed;  
  /* Below was copied and pasted from a google search */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font: Cambria;
  color: white;
  font-size: 36px;
  text-align: center;
}

p {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font: Cambria;
  color: white;
  text-align: center;
  font-size: 24px;
}

